:root {
    --header-h: 70px;
    --header-bg: rgb(255, 255, 255);
    --header-line-bg:#b1b1b1;
}

html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
}

.header {
    height: var(--header-h);
    background-color: var(--header-bg);
    border-bottom: 2px solid #f0eded;
}

img {
    max-width: 100%;
}

.header .logo {
    border-right: 2px solid #f00;
    text-align: center;
}

.logo img {
    max-width: 70%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.meun {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.meun ul {
    display: flex;
    gap: 15px;
}

.button-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
}

.button-wrap a {
    padding: 5px 10px;
    display: flex;
    height: 100%;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.button-wrap a:hover,
.button-wrap a.action {
    color: blue;
}

.prouduct-information-wrap {
    display: flex;
}

.prouduct-information {
    margin: 20px auto;
}

.prouduct-information-video {
    flex: 2;
}

.prouduct-information-text {
    flex: 1;
    padding: 0 20px;
}

.category-nav {
    display: flex;
    gap: 20px;
}

.category-nav li {
    position: relative;
}

.category-nav li::after {
    content: "\\";
    position: absolute;
    right: -14px;
}

.category-nav li:last-child:after {
    display: none;
}

.product-process {
    display: flex;
    gap: 20px;
}

.goal-product {
    --r: 80px;
    display: flex;
    width: var(--r);
    height: var(--r);
    border: 2px solid rgb(107, 216, 44);
    border-radius: 1000%;
    align-items: center;
    justify-content: center;
}

.product-name {
    font-size: 1.3rem;
    margin: 20px auto;
}

.product-name {
    font-size: 1.3rem;
    margin: 20px auto;
}

.project-process {
    display: flex;
    gap: 20px;
}

.project-description {
    font-size: 0.9rem;
    line-height: 26px;
    margin: 15px auto;
    text-align: justify;

}
hr.line{
    border-color: var(--header-line-bg);
}
.share-item{
    color: #666666;
    font-size: 0.8rem;
    display: flex;
    gap: 15px;
    align-items: center;
}
.project-run-range{
    font-size: 0.8rem;
    margin:15px auto ;
}
.share-item .material-symbols-outlined{
    font-size: 16px;
}
.share-item img {
    max-width: 30px;
}

.copy-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--second-color);
    border-radius: 999px;
}
.send-message{
    padding: 5px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #dedede;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.main-nav-block {
    background-color: #f9fafb;
    height: 60px;
}
.main-nav-wrap{
        height: 100%;
        display: flex;
        align-items: center;
}
.main-nav-wrap .page-tab {
    flex: 2;
}

.page-tab .tabs {
    display: flex;
    gap: 15px;
}


.main-nav-wrap .donate-wrap {
    flex: 1;
}